/* .header-container nav ul.links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

@media screen and (max-width: 1024px) {
    header {
        width: 100%;
        padding: 0 30px;
    }
    .nav-menu {
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        height: 90vh;
        background: #edefee;
        position: absolute;
        top: 10vh;
        right: -100%;
        z-index: 10;
        transition: 0.5s;
        padding: 20px 30px 20px 120px;
    }

    .nav-menu.active {
        right: 0;
        top: 10vh;
    }

    .nav-menu li {
        padding: 10px 0;
    }


    .hamburger, .close-hamburger {
        display: initial;
        z-index: 11;
    }
} */